parameters:
	level: max
	paths:
		- src
	treatPhpDocTypesAsCertain: true
	checkUninitializedProperties: true
	checkDynamicProperties: true
includes:
	- vendor/phpstan/phpstan/conf/bleedingEdge.neon
	- phpstan-baseline.neon
